.item {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 15px;
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
}

.icon {
    flex-shrink: 0;
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        opacity: 1;
        width: 80%;
    }
}
