.Wrapper {
    display: flex;
    align-items: center;
}

.select {
    background: none;
    outline: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 10px 5px 5px;
}

.option {
    color: var(--inverted-primary-color);
    background-color: var(--inverted-bg-color);
}
