.Input {
    display: flex;
    align-items: center;
    gap: 16px;
}

.readonly {
    opacity: 0.7;
}

.input {
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 80%;
    color: transparent;
    text-shadow: 0 0 0 var(--primary-color);
}
