.CommentCard {
    padding: 15px;
    border: 2px solid var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.text {
    margin-top: 10px;
}

.loading {
    border: none;
}
